.white-bar{
  background: white;
}

.logo-size{
  max-height: 100%;
}

.mat-toolbar-row{
  padding: 16px 16px 16px;
  height: 150px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.selection-card-size{
  max-width: 100%;
}

.blackandwhite {
  filter: grayscale(100%);
}

.generate-buton{
  width: 100%;
  background: indianred;
  font-size: xx-large;
  height: 60px;
}

@media screen and (max-width: 600px) {
  .generate-buton{
    font-size: medium;
  }
}


.card {
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mini-card {
    max-width: 200px;
}

.mini-text {
  font-size: x-small;
}
.column {
  float: left;
  width: 23%;
  text-align: center;
  margin: 1%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 48%;
  }
}

.column-spawn {
  float: left;
  width: 25%;
  text-align: center;
}

.column-spawn.blue{
  background: cornflowerblue;
  font-size: xx-large;
}
.column-spawn.yellow{
  background: gold;
  font-size: xx-large;
}
.column-spawn.orange{
  background: darkorange;
  font-size: xx-large;
}
.column-spawn.red{
  background: darkred;
  font-size: xx-large;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}