<mat-toolbar>
  <a href="/">
    <mat-toolbar-row class="white-bar">
      <img class="logo-size center" src="./assets/zombicide-invaders-logo.png"/>
    </mat-toolbar-row>
  </a>
</mat-toolbar>

<mat-card-content *ngIf="!currentCard">
  <div style="margin:50px">
    <div class="row">
      <div class="column" (click) = "setXeno('spoiler')">
        <img [ngClass]="spoiler ? 'selection-card-size' : 'selection-card-size blackandwhite'" src="./assets/cards/abomination-card.jpg"/>
      </div>
      <div class="column" (click) = "setXeno('worker')">
        <img [ngClass]="worker ? 'selection-card-size' : 'selection-card-size blackandwhite'" src="./assets/cards/worker-card.jpg"/>
      </div>
      <div class="column" (click) = "setXeno('hunter')">
        <img [ngClass]="hunter ? 'selection-card-size' : 'selection-card-size blackandwhite'" src="./assets/cards/hunter-card.jpg"/>
      </div>
      <div class="column" (click) = "setXeno('tank')">
        <img [ngClass]="tank ? 'selection-card-size' : 'selection-card-size blackandwhite'" src="./assets/cards/tank-card.jpg"/>
      </div>
    </div>
    <div class="row">
      <div class="column" (click) = "setXeno('blitzer')">
        <img [ngClass]="blitzer ? 'selection-card-size' : 'selection-card-size blackandwhite'" src="./assets/cards/blitzer-card.png"/>
      </div>
      <div class="column" (click) = "setXeno('flinger')">
        <img [ngClass]="flinger ? 'selection-card-size' : 'selection-card-size blackandwhite'" src="./assets/cards/flinger-card.png"/>
      </div>
      <div class="column" (click) = "setXeno('seeker')">
        <img [ngClass]="seeker ? 'selection-card-size' : 'selection-card-size blackandwhite'" src="./assets/cards/seeker-worker-card.png"/>
      </div>
      <div class="column" (click) = "setXeno('xenomoth')">
        <img [ngClass]="xenomoth ? 'selection-card-size' : 'selection-card-size blackandwhite'" src="./assets/cards/xenomoth-card.png"/>
      </div>
    </div>
  </div>
</mat-card-content>

<div style="margin:50px">
  <span style="font-size: x-large;" *ngIf="!enemyChoise">Choose your enemies</span>
  <button class="generate-buton" mat-raised-button (click) = initGame() *ngIf="!currentCard" [disabled]="!enemyChoise">Generate random deck!</button>
</div>

<mat-card *ngIf="currentCard" class="card center" [@flyInOut]="currentState" (click)="nextCard()">
  <mat-card-header>
    <mat-card-title>{{currentCard.title}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="currentCard.img">
  <mat-card-content>
    <div class="row">
      <div class="column-spawn blue">{{currentCard.blue}}</div>
      <div class="column-spawn yellow">{{currentCard.yellow}}</div>
      <div class="column-spawn orange">{{currentCard.orange}}</div>
      <div class="column-spawn red">{{currentCard.red}}</div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let zombieOldCard of zombieOldCards" class="card mini-card center">
  <mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle class="small-text">{{zombieOldCard.title}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="zombieOldCard.img">
  <mat-card-content>
    <div class="row">
      <div class="column-spawn blue">{{zombieOldCard.blue}}</div>
      <div class="column-spawn yellow">{{zombieOldCard.yellow}}</div>
      <div class="column-spawn orange">{{zombieOldCard.orange}}</div>
      <div class="column-spawn red">{{zombieOldCard.red}}</div>
    </div>
  </mat-card-content>
</mat-card>
